.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4f4f4;
}

.calculator {
  border: 2px solid black; 
  padding: 20px;
  border-radius: 8px;
  width: 60%;
  max-width: 400px;
  background-color: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.display {
  border: 2px solid black;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 24px;
  text-align: right;
  background-color: #eeeeee;
  border-radius: 5px;
  height: 80px;
  max-width: 100%; 
  overflow: hidden; 
  display: flex;
  flex-direction: column;
  white-space: nowrap; 
  text-overflow: ellipsis;
  justify-content: flex-end; 
}
.first-line {
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
}

.second-line {
  font-size: 18px;
  text-align: right;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4,100px );
  gap: 5px;
}

.button {
  padding: 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}


.button:hover {
  background-color: #d4d4d4;
}

.button:active {
  background-color: #bcbcbc;
}